.h1 {
  font-size: 2.75rem;
  font-weight: 700;
  color: $headerColor;
  line-height: 3.5rem;
}
.h3 {
  font-size: 2rem;
  font-weight: 700;
  color: $blackTextColor1;
}
.subtitle1 {
  font-size: 1.75rem;
  color: $blackTextColor1;
}

.text-center {
  text-align: center;
}
