.fixed {
  position: fixed;
}
.z-1 {
  z-index: 1;
}
.t-0 {
  top: 0;
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.max-xlg {
  max-width: 1440px;
}

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}
.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
.align-self-start {
  align-self: self-start;
}

.bg-white {
  background: $backgroundWhite;
}

.bg-gray {
  background: $backgroundGray;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.pt-0 {
  padding-top: 0;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pr-2 {
  padding-right: 0.5rem;
}
.pl-2 {
  padding-left: 0.5rem;
}

.pl-12 {
  padding-left: 3rem;
}

.m-4 {
  margin: 1rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-left: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.br-2 {
  border-radius: 0.5rem;
}

.divider-middle {
  height: 0.1rem;
  background: #cecece;
  margin: 0 15%;
}

.curser-pointer {
  cursor: pointer;
}
