$backgroundGray: #f2f2f2;
$backgroundWhite: #ffffff;
$headerColor: #202020;
$blackTextColor1: #1d1d1d;
$blackTextColor2: #3e3e3e;
$btnColor: #c5e09b;
$btnActiveColor: #7bba02;
$btnTextColor: #3d4631;
$blueTextColor: #5d68a0;
