<div class="full-height card">
    <div class="card-media">
          <img [src]="details?.missionPatch" alt="loading" loading="lazy" width="200" height="200">
    </div>
    
    <div class="card-content">
        <div class="card-title pb-4">
                {{details?.missionName}} #{{details?.flightNumber}}
        </div>
        <div class="card-content-data">
            <div class="card-content-data-label">
                Mission Ids:&nbsp;
            </div>
        </div>
        
        <div [class.p-2]="details?.missionId?.length" class="card-content-data-value pl-12 pt-0">
            <ul>
                <li *ngFor="let el of details?.missionId">
                    {{el}}
                </li>
            </ul>
        </div>
        
        <div class="card-content-data">
            <div class="card-content-data-label">
                Launch Year:&nbsp;
            </div>
            <div class="card-content-data-value">
                {{details?.launchYear}}
            </div>
        </div>
        <div class="card-content-data">
            <div class="card-content-data-label">
                Successful Launch:&nbsp;
            </div>
            <div class="card-content-data-value">
                {{details?.launchSuccess}}
            </div>
        </div>
        <div class="card-content-data">
            <div class="card-content-data-label">
                Successful Landing:&nbsp;
            </div>
            <div class="card-content-data-value">
                {{details?.landSuccess}}
            </div>
        </div>

    </div>
